*{
    box-sizing: border-box;
}
body{
    background-color: darkgray;
}
#screen{
    color: white;
    font-size: 20px;
    background-color: grey;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}
.btns{
    row-gap: 10px;
}
button{
    border-radius: 50%;
    font-size: 28px;
    padding: 20px;
}
#equlBtn{
    width: 100%;
    font-size: 28px;
    background-color: green;
}
